# Start of Selection
/backend/app/alembic/versions/
/backend/app/alembic/env.py
.env
.whl
.pyc
.idea/
.vscode/
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.properties
*.log
*.sql
*.ini
# End of Selection